/* App.css */
body {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color:  #6eb3e0;
    font-size: 16px;
  }
  @media (min-width: 420px) {
  .content {
    margin: auto;
    border: 1px solid #161414;
    background-color: #d4d4d4;
    border-radius: 5px;
    max-width: 1200px;
    padding-top: 20px;
  }
    main {
      margin: auto;
      padding: 25px;
      max-width: 1200px;
      background-color: #d4d4d4;
      min-height: 100vh;
    }
      h1 {
        text-align: center;
      }
      label {
        display: block;
        margin-bottom: 10px;
        font-weight: bolder;
      }
      select,
      input {
        font-size: 1.3em;
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: #92f5a7;
      }
      .DisplayData {
        border: 1px solid #ccc;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
        background-image: url("../media/WinImg.png");
        background-size:  50%;
        background-position: center center;
        background-repeat: no-repeat;
        background-color: #e9f7ff;
        min-height: 70vh;
        position: relative;
      }
      .DisplayData::before {
        content: "";
        position: absolute;
        top: 7px;
        right: 7px;
        bottom: 7px;
        left: 7px;
        border: 2px solid #888888;
        box-shadow: inset 0 0 10px #00000080;
      }
      .error404 {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        color: red;
        font-weight: bold;
        background-color: #bfe8ff; 
        box-shadow: 0 0 7px #00000066;
        height: 100px;
      }

}
@media (max-width: 419px) {
  .content {
    margin: auto;
    border: 1px solid #161414;
    background-color: #d4d4d4;
    border-radius: 5px;
    padding-top: 10px;
  }
    main {
      margin: auto;
      padding: 15px;
      background-color: #d4d4d4;
    }
      h1 {
        text-align: center;
        font: 1.4em sans-serif;
      }
      label {
        display: block;
        margin-bottom: 5px;
        font-weight: bolder;
      }
      select,
      input {
        font: 1.2em sans-serif;
        width: 100%;
        height: 45px;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: #92f5a7;
      }
      .DisplayData {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        background-color: #e9f7ff;
        background-image: url("../media/WinImg.png");
        background-size:  65%;
        background-position: center center;
        background-repeat: no-repeat;
        min-height: 65vh;
        position: relative;
      }
      .DisplayData::before {
        content: "";
        position: absolute;
        top: 7px;
        right: 7px;
        bottom: 7px;
        left: 7px;
        border: 2px solid #000000;
        box-shadow: inset 0 0 10px #00000080;
      }
      .error404 {
        display: flex;
        font: 1em sans-serif;
        justify-content: space-evenly;
        align-items: center;
        text-align: center;
        color: red;
        font-weight: bold;
        background-color: #bfe8ff; 
        box-shadow: 0 0 7px #00000066;
        height: 150px;
      }
    }
